/*
 * Copyright (©) 09.07.2021, 17:13. Kolyada Nikita Vladimirovich (nikita.nk16@yandex.ru)
 */

@font-face {
  font-family: 'Russo One';
  src: url('RussoOne-Regular.eot');
  src: local('Russo One'), local('RussoOne-Regular'),
  url('RussoOne-Regular.eot?#iefix') format('embedded-opentype'),
  url('RussoOne-Regular.woff') format('woff'),
  url('RussoOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
